@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --bg-color: #FFF6EB;
    --form-bg-color: #FFE4C2;
    --text-color: #38281A;
    --alt-color: #FFEDD6;
    --shadow-color: #c2b09880;
    --del-btn-color: #e21851;
    --add-btn-color: #d7802e;
}

html,
body {
    margin: 0;
    padding: 0;
}

body, main, .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
body {
    align-items: center;
    background-color: var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.container {
    width: min(1000px, 60%);
    text-align: center;
}
.head {
    height: min(70px, 20%);
}

table {
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
}
.title-col {
    width: 40%;
}

.auth-col {
    width: 24%;
}
.pgs {
    width: 12%;
    
}
.rd-col {
    width: 10%;
    
}
.rm-col {
    width: 14%;
    
}

tbody tr:nth-child(odd) {
    background-color: var(--alt-color);
}
tbody tr:nth-child(even) {
    background-color: var(--bg-color);
}

td, th {
    padding-top: 20px;
    padding-bottom: 20px;
}
tfoot td {
    padding-top: 0;
    width: 100%;
    text-align: center;
}

button {
    border: 0;
    background: none;
}

.add-book {
    padding: 10px;
    font-size: 4em;
    color: var(--text-color);
}
.add-book:hover {
    color: var(--add-btn-color);
}


.form-div {
    position: fixed;
    top: min(100px, 30%);
    align-self: center;
}
.add-book-form {
    background-color: var(--form-bg-color);
    padding: 20px;
    border: 0.2px solid var(--shadow-color);
    border-radius: 25px;
    box-shadow: 4px 5px 12px var(--shadow-color);
    text-align: left;
}
.add-book-form * {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.rd {
    display: inline-block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
.form-submit {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8em;
    border: 1px solid var(--add-btn-color);
    background-color: var(--add-btn-color);
    color: white;
    border-radius: 10px;
    font-weight: 600;
}
.form-submit:hover {
    color: var(--add-btn-color);
    background-color: white;
    border: 1px solid white;
    
}
.rmv-book {
    border: 1px solid var(--del-btn-color);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 10px;
    background-color: var(--del-btn-color);
    font-weight: 600;
}

.rmv-book:hover {
    color: var(--del-btn-color);
    background-color: white;
    border: 1px solid white;
}

.read-table {
    /* too annoying */
}

.cent {
    text-align: center;
}